.hero {
    display: flex;
    justify-content: space-between;
}

.right-h {
    padding: 2rem;
    padding-top: 1.5rem; 
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.left-h {
    flex: 1;
    position: relative;
    background: var(--orange);
}

.the-best-ad {
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    padding: 20px 13px;
    width: fit-content;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.the-best-ad > span {
    z-index: 2;
}

.the-best-ad > div {
    position: absolute;
    background-color: var(--orange);
    width: 3.4rem;
    height: 80%;
    border-radius: 3rem;
    right: 8px;
    z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #fff;
    font-size: 4.5rem;
    font-weight: bold;
    text-overflow: inherit;
}

.hero-text > div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    width: 80%;
}

.figures{
    display: flex;
    gap: 2rem;
}

.figures > div {
    display: flex;
    flex-direction: column;
}

.figures > div > span:nth-of-type(1) {
    color: #fff;
    font-size: 2rem;
}

.figures > div > span:nth-of-type(2) {
    color: var(--gray);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1) {
    color: #fff;
    background-color: var(--orange);
    width: 8rem;
}

.hero-buttons>:nth-child(2) {
    color: #fff;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.left-h > .btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: #000;
}

.heart-rate {
    display: flex;
    flex-direction: column;
    background-color: var(--darkGrey);
    gap: 1rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    align-items: flex-start;
    right: 4rem;
    top: 7rem;
}

.heart-rate > img {
    width: 2rem;
}

.heart-rate > span:nth-child(2) {
    color: var(--gray);
}

.heart-rate > span:nth-child(3) {
    color: #fff;
    font-size:1.5rem;
}

.hero-image {
    position: absolute;
    top: 5rem;
    left: 8rem;
    width: 23rem;
}

.hero-image-back {
    position: absolute;
    top: 4rem;
    left: 20rem;
    transform: rotateY(180deg);
    z-index: -1;
    width: 15rem;
}

.calories {
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    width: 10rem;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 35rem;
    left: 25rem;
}

.calories > img {
    width: 3rem;
}

.calories > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories > div > :nth-child(1) {
    color: var(--gray);
}

.calories > div > :nth-child(2) {
    color: #fff;
    font-size: 1.5rem;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .hero {
        flex-direction: column;
    }

    .hero-blur {
        width: 14rem;
    }

    .the-best-ad {
        font-size: small;
        margin-top: 0;
        align-self: center;
        transform: scale(0.8);
    }

    .hero-text {
        align-items: center;
        justify-content: center;
        font-size: xx-large;
    }

    .hero-text > div:nth-of-type(3) {
        text-align: center;
        font-size: small;
        font-weight: 200;
    }

    .figures {
        justify-content: center;
        align-items: center;
    }

    .figures > div > span:nth-of-type(1) {
        font-size: large;
    }

    .figures > div > span:nth-of-type(2) {
        font-size: small;
    }

    .hero-buttons {
        justify-content: center;
    }

    .heart-rate {
        display: none;
    }

    .calories {
        display: none;
    }

    .hero-image {
        display: none;
    }

    .hero-image-back {
        display: none;
    } 

    .left-h > .btn {
        left: 4rem;
        right: 4rem;
    }

    /*.hero-image {
        width: 15rem;
        position: relative;
        top: 4rem;
        left: -2rem;
    }

    .hero-image-back {
        width: 15rem;
        right: 1rem;
        top: 0rem;
    }*/
} 

@media screen and (min-width: 768px) and (max-width: 900px) {
    .hero {
        flex-direction: column;
    }

    .hero-blur {
        width: 14rem;
    }

    .the-best-ad {
        font-size: small;
        margin-top: 0;
        align-self: center;
        transform: scale(0.8);
    }

    .hero-text {
        align-items: center;
        justify-content: center;
        font-size: xx-large;
    }

    .hero-text > div:nth-of-type(3) {
        text-align: center;
        font-size: small;
        font-weight: 200;
    }

    .figures {
        justify-content: center;
        align-items: center;
    }

    .figures > div > span:nth-of-type(1) {
        font-size: large;
    }

    .figures > div > span:nth-of-type(2) {
        font-size: small;
    }

    .hero-buttons {
        justify-content: center;
    }

    .left-h {
        position: relative;
        background: none;
    }

    .heart-rate {
        right: 5rem;
        /* top: 2rem;  */
    } 

    .calories {
        position: relative;
        right: 20rem;
        top: 5rem;
    }

    .calories > img {
        width: 2rem;
    }

    .calories > div > :nth-child(2) {
        font-size: 1rem;
        color: #fff;
    }

    .hero-image {
        width: 15rem;
        position: relative;
        top: 4rem;
        right: 20rem;
    }

    .hero-image-back {
        width: 15rem;
        right: 20rem;
        top: 0rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .hero-image {
        width: 20rem;
        position: relative;
        top: 8rem;
        left: 15rem;
    }

    .hero-image-back {
        width: 12rem;
        top:12rem;
    }

    .calories {
        position: relative;
        left: 10rem;
        top: 10rem;
    }

    .calories > img {
        width: 2rem;
    }

    .calories > div > :nth-child(2) {
        font-size: 1rem;
        color: #fff;
    }
}